.pres{
  text-align: center;
  color:$link-color;
  @include rem-fallback(font-size,1.3rem);
  font-weight: 400;
  padding: 20px 10% 50px;
  background: $background-pres;
}
.pres--accueil{
  background:url('img/sad.jpg') center top;
  background-size: cover;
  padding:160px 0;
}
.pres__wrapper{
  background: rgba(255,255,255,0.85);
  padding:50px 12% 50px;
}
.pres__text{
  width:70%;
  margin:auto;
}
.pres__tel{
  color:$tel-color;
  @include rem-fallback(font-size,1.8rem);
  @include rem-fallback(margin,0.8rem,0,0);
  &:before{
    background: url('img/phone21.svg')center bottom;
    position:relative;
    top:10px;
    @include rem-fallback(margin,0,1rem,0,0);
    content:" ";
    display:inline-block;
    width:50px;
    height:50px;
  }
}
.pres__form{
  @include rem-fallback(margin-top,2.4rem);
}
.pres__label{
  display:inline-block;
  width:20%;
  @include rem-fallback(font-size,1.4rem);
  margin:0 2% 0 0;
  text-align: left;
  font-weight:400;
}
.pres__input{
  display:inline-block;
  padding:10px;
  width:52%;
}
.pres__submit{
  margin:0 0 0 3%;
  @include rem-fallback(font-size,1.3rem);
  display:inline-block;
  width:23%;
}
