

//font-settings
$font-size : 18px;
$medium-size : 22px;
$no-unit-size : 18;
$line-height : 24px;

//colors
$text-color : #484a57;
$link-color : #c2725d;
$light-link-color : #febc85;
$button-text-color : white;
$placeholder : #d7d7d9;
$heading-color : #c2725d;
$label-color:#7fa2aa;
$input-color:#d7d7d9;
$nav-color:#7fa2aa;
$tel-color:#67545a;
$border-color:#e3ecef;
$footer-color: #9ccad4;

$background-color : #484a57;
$page-background-color : white;
$light-background: #eef2f4;
$background-dark: #67545a;

$font-default: 'Roboto', sans-serif;
$font-title: 'Roboto Condensed', sans-serif;
