.site-nav{
  padding:15px 0 25px;
}
.menu-item{
  display:inline-block;
  position:relative;
  margin-top:0;
  @include rem-fallback(margin-left,3rem);
  &:hover{
    .sub-menu{
      display:block;
    }
  }
}
.site-nav.fixed{
  padding:15px 0;
  .menu-item>a svg{
    width:30px;
    height:30px;
    margin:0 auto;
  }
  .menu-item>a{
    @include rem-fallback(font-size,1.2rem);
  }
  .site-nav__logo{
    width:100px;
    height:70px;
  }
  .sub-menu{
    padding-top:20px;
  }
  .menu-item{
    @include rem-fallback(margin-top,0.8rem);
  }
}
.menu-item>a{
  @include rem-fallback(font-size,1.4rem);
  font-family: $font-title;
  padding-top:70px;
  color:$nav-color;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  @include transition(all 0.5s);
  &:hover{
    color:$text-color;
    svg{
      opacity:0.7;
    }
  }
}

.site-nav__home{
  display: inline-block;
  @include rem-fallback(margin-top,0.2);
  text-decoration: none;
}

.sub-menu{
  position:absolute;
  left:50%;
  margin-left:-125px;
  z-index:100;
  padding-top:16px;
  display:none;

}
.sub-menu>li{
  list-style:none;
  background: $link-color;
  margin:0 0 2px 0;
  @include transition(all 0.3s);
  &:hover{
    background: $nav-color;
  }
}
.sub-menu>li>a{
  padding:10px 17px;
  width:250px;
  color:white;
  text-align: left;
  @include rem-fallback(font-size,1.2);
  font-weight: 300;
  text-decoration:none;
  display:block;
  &:hover{
    color: white;
  }
}

.about{
  background:url('img/info28.svg') no-repeat center top;
  background-size:60px;
}
.prevent{
  background:url('img/teacher44.svg') no-repeat center top;
  background-size:60px;
}
.therap{
  background:url('img/medicine14.svg') no-repeat center top;
  background-size:60px;
}
.parent{
  background:url('img/avatar4.svg') no-repeat center 10px;
  background-size:60px;
}
.risk{
  background:url('img/warning41.svg') no-repeat center top;
  background-size:60px;
}
