.button{
  background:$background-color;
  border:1px solid;
  padding:10px 30px;
  color:white;
  text-decoration: none;
  @include transition(all 0.4s ease-in-out);
  &:hover{
    background-color: $heading-color;

  }
}
