

//font-settings
$font-size : 18px;
$medium-size : 22px;
$no-unit-size : 18;
$line-height : 24px;

//colors
$text-color : #484a57;
$link-color : #c2725d;
$light-link-color : #febc85;
$active-link-color : #c2725d;
$button-text-color : white;
$placeholder : #d7d7d9;
$heading-color : #c2725d;
$subtitle-color: #67545a;
$label-color:#7fa2aa;
$input-color:#8b9294;
$nav-color:#7fa2aa;
$tel-color:#67545a;
$border-color:#e3ecef;
$footer-color: #9ccad4;

$background-color : #484a57;
$page-background-color : white;
$light-background: #eef2f4;
$tarif-background: #dae3e8;
$background-dark: #67545a;
$background-pres: #dee8ee;

$font-default: 'Roboto', sans-serif;
$font-title: 'Roboto Condensed', sans-serif;

$breakpoints: (
    "palm"          "screen and (max-width: 719px)",
    "lap"           "screen and (min-width: 720px) and (max-width: 1023px)",
    "lap-and-up"    "screen and (min-width: 720px)",
    "portable"      "screen and (max-width: 1023px)",
    "small-desk"          "screen and (max-width: 1279px)",
    "desk"    "screen and (min-width: 1280px)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
);
$full : "screen and (min-width: 1440px)";
$desk: "screen and min-width: 1280px";
$small-desk : "screen and (max-width:1279px)";
$portable : "screen and (max-width: 1023px)";
$retina : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)";
$lap-and-up : "screen and (min-width: 720px)";
$lap : "screen and (min-width: 720px) and (max-width: 1023px)";
$palm : "screen and (max-width: 719px)";
