div.page-head
  div.wrapper
    nav.site-nav
      h2(role="heading" aria-level="2").hidden-title Navigation du Site
      a(href="index.html").site-nav__home
        include logo.svg
      ul.float-right
        li.menu-item.about
          a(href="a-propos.html").site-nav__link.site-nav__link--about 
            | À propos
          ul.sub-menu
            li.site-nav__subitem
              a(href="#").site-nav__sublink Contact
            li.site-nav__subitem
              a(href="#").site-nav__sublink Equipe
            li.site-nav__subitem
              a(href="#").site-nav__sublink Tarifs
        li.menu-item.prevent
          a(href="prevention.html").site-nav__link.site-nav__link--prevent 
            |Prévention
          ul.sub-menu
            li.site-nav__subitem
              a(href="#").site-nav__sublink A qui s'adresse-t-on ?
            li.site-nav__subitem
              a(href="#").site-nav__sublink Types d'intervention
            li.site-nav__subitem
              a(href="#").site-nav__sublink Méthodologie
        li.menu-item.therap
          a(href="therapie.html").site-nav__link.site-nav__link--therap 
            | Thérapie
        li.menu-item.parent
          a(href="parentalite.html").site-nav__link.site-nav__link--parent 
            | Parentalité
        li.menu-item.risk
          a(href="risques").site-nav__link.site-nav__link--risk 
            | Réduction des risques
      
