footer.page-footer
  div.wrapper
    h2.hidden-title Pied de page
    nav
      h3.hidden-title Navigation secondaire
      ul.page-footer__list
        li.page-footer__item
          a(href="").page-footer__link Plan du Site
        li.page-footer__item
          a(href="").page-footer__link  Faq
        li.page-footer__item
          a(href="").page-footer__link Jobs
        li.page-footer__item
          a(href="").page-footer__link Liens
    p.page-footer__right Designed by 
      a(href="http://as-pirlet.be") as-pirlet.be
  
