div.page-head
  div.wrapper
    nav.site-nav
      h2(role="heading" aria-level="2").hidden-title Navigation du Site
      a(href="index.html").site-nav__home
        include logo.svg
      ul.float-right
        li.site-nav__item
          a(href="a-propos.html").site-nav__link.site-nav__link--about 
            include info28.svg
            | À propos
          ul.site-nav__submenu
            li.site-nav__subitem
              a(href="#").site-nav__sublink Contact
            li.site-nav__subitem
              a(href="#").site-nav__sublink Equipe
            li.site-nav__subitem
              a(href="#").site-nav__sublink Tarifs
        li.site-nav__item
          a(href="prevention.html").site-nav__link.site-nav__link--prevent 
            include teacher44.svg
            |Prévention
          ul.site-nav__submenu
            li.site-nav__subitem
              a(href="#").site-nav__sublink A qui s'adresse-t-on ?
            li.site-nav__subitem
              a(href="#").site-nav__sublink Types d'intervention
            li.site-nav__subitem
              a(href="#").site-nav__sublink Méthodologie
        li.site-nav__item
          a(href="therapie.html").site-nav__link.site-nav__link--therap 
            include medicine14.svg
            | Thérapie
        li.site-nav__item
          a(href="parentalite.html").site-nav__link.site-nav__link--parent 
            include avatar4.svg
            | Parentalité
        li.site-nav__item
          a(href="risques").site-nav__link.site-nav__link--risk 
            include warning41.svg
            | Réduction des risques
      
