div.pres
  div.pres__wrapper.wrapper 
    div.pres__text
      | Service de santé mentale spécialisé dans le traitement et la prévention de l'alcoolisme et des toxicomanies.
      div.pres__tel Téléphonez au 04 223 09 03
    form(action="#" method="get").form.pres__form
      label(for="keywords").form__label.pres__label Votre Recherche
      input(type="text" id="keywords" name="keywords").form__text.pres__input
      input(type="submit" value="Rechercher").form__submit.button.pres__submit
