//-main.jade
extends includes/layout.jade
block title
  title Accueil
block header
  include includes/header.jade
block content
  div.wrapper
    h2 News
    h2 Contactez-nous
    h2 Où nous trouver ?
