//-main.jade
extends includes/layout.jade
block title
  title Accueil
block header
  include includes/header.jade
block content
  div.wrapper
    section.news.layout
      h2.layout__item News
      ul(class="layout__item u-2/3")
        li.news__item
          time.news__date 13/10/2015
          | Nous sommes désormais au complet pour les stages concernant l'année scolaire 2015-2016. Bonne chance à tous les étudiants dans la poursuite de leur recherche !
        li.news__item
          time.news__date 10/10/2015
          | Notre antenne de Réduction des risques "Accueil Drogues" a déménagé au 22 de la rue Florimont (Liège) où une permanence est assurée, comme par le passé : du lundi au vendredi de 13h à 17h
        li.news__item
          time.news__date 30/09/2015
          | Vous vous posez des questions au sujet de votre consommation d'alcool, ou celle d'un proche ?
    h2 Contactez-nous
    h2 Où nous trouver ?
