//-main.jade
extends includes/layout.jade
block title
  title Accueil
block header
  include includes/header.jade
block content
  include includes/pres-accueil.jade
  div.wrapper
    section.news.layout
      h2.layout__item Actualités du Centre
      ul(class="layout__item u-2/3")
        li.news__item
          time.news__date 13/10/2015
          | Nous sommes désormais au complet pour les stages concernant l'année scolaire 2015-2016. Bonne chance à tous les étudiants dans la poursuite de leur recherche !
        li.news__item
          time.news__date 10/10/2015
          | Notre antenne de Réduction des risques "Accueil Drogues" a déménagé au 22 de la rue Florimont (Liège) où une permanence est assurée, comme par le passé : du lundi au vendredi de 13h à 17h
        li.news__item
          time.news__date 30/09/2015
          | Vous vous posez des questions au sujet de votre consommation d'alcool, ou celle d'un proche ?&nbsp;
          a(href="http://aide-alcool.be") aide-alcool.be
    //section.contact
      h2 Contactez-nous
      form(method="get" action="#").form
        label(for="name").form__label Nom
        input(type="text" id="name" name="email").form__text
        label(for="email").form__label Adresse Email
        input(type="email" id="email" name="email" ).form__text
        label(for="objet").form__label Objet du message
        input(type="text" id="objet" name="objet").form__text
        label(for="message").form__label Message
        textarea(name="message",id="message", cols="30", rows="7").form__area
        input(type="submit").form__submit.button
    section.map
      h2 Où nous trouver ?
      address.map__address Rue de la Madeleine, 4000 Liège
      div(id="contactMap").map__container
